<footer class="new-footer">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <div class="new-footer-elem">
    <h2 class="new-footer-header" style="text-decoration: underline">О нас</h2>
    <h4 class="new-footer-text">
      Мы предоставляем удобную площадку для обмена знаниями в области операционных систем.
    </h4>
  </div>

  <div class="new-footer-elem">
    <h2 class="new-footer-header" style="text-decoration: underline">Быстрые ссылки</h2>
    <a href="message.shtml" class="clear"><h4 class="links">Предложения и пожелания</h4></a>
    <a href="copyright.shtml" class="clear"><h4 class="links">Авторские права</h4></a>
    <a href="terms-of-use.shtml" class="clear"><h4 class="links">Правила пользования сайтом</h4></a>
    <a href="contacts.shtml" class="clear"><h4 class="links">Контакты</h4></a>
  </div>


  <address  class="new-footer-elem">
    <h2 class="new-footer-header" style="text-decoration: underline">Контакты с нами</h2>
    <p>Горячая линия: <a style="color: blue" href="tel:87461578756">87461578756</a></p>
    <p>Почта: <a style="color: blue" href="mailto:gusemail@guse.com">Написать письмо</a></p>
  </address>


</footer>