<header>

    <nav class="topnav">
        <a href="../index.html"><img src="../resources/favicon.png" alt="логотип" width="70" height="40"></a>

        <a class="topnav_hid_elem fast-ref" href="../index.html">Главная страница</a>
        <a class="topnav_hid_elem fast-ref" href="publications.html">Статьи</a>
        <a class="topnav_hid_elem fast-ref" href="create-publication.html">Написать статью</a>
        <a class="topnav_hid_elem fast-ref" href="message.html">Сообщить о проблеме</a>
        <a class="topnav_hid_elem fast-ref" href="contacts.html">Контакты</a>
        <a class="topnav_hid_elem fast-ref topnav-right" href="entrance.html">Вход</a>


        <input class="topnav-menu-btn-checkbox" id="menu-toggle" type="checkbox"/>
        <label class="topnav-menu-btn-label" for="menu-toggle">
            <span></span>
        </label>

        <ul class="topnav-menu" type="none">
            <li><a class="topnav-menu-item" href="entrance.html">Вход</a></li>
            <li><a class="topnav-menu-item" href="../index.html">Главная страница</a></li>
            <li><a class="topnav-menu-item" href="publications.html">Статьи</a></li>
            <li><a class="topnav-menu-item" href="create-publication.html">Написать статью</a></li>
            <li><a class="topnav-menu-item" href="message.html">Сообщить о проблеме</a></li>
            <li><a class="topnav-menu-item" href="contacts.html">Контакты</a></li>


        </ul>

    </nav>

</header>