<header>

    <nav class="topnav">
        <a href="index.shtml"><img src="../resources/favicon.png" alt="логотип" width="70" height="40"></a>

        <a class="topnav_hid_elem fast-ref" href="index.shtml">Главная страница</a>
        <a class="topnav_hid_elem fast-ref" href="publications.shtml">Статьи</a>
        <a class="topnav_hid_elem fast-ref" href="create-publication.shtml">Написать статью</a>
        <a class="topnav_hid_elem fast-ref" href="message.shtml">Сообщить о проблеме</a>
        <a class="topnav_hid_elem fast-ref" href="contacts.shtml">Контакты</a>
        <a class="topnav_hid_elem fast-ref topnav-right" href="entrance.shtml">Вход</a>


        <input class="topnav-menu-btn-checkbox" id="menu-toggle" type="checkbox"/>
        <label class="topnav-menu-btn-label" for="menu-toggle">
            <span></span>
        </label>

        <ul class="topnav-menu" type="none">
            <li><a class="topnav-menu-item" href="entrance.shtml">Вход</a></li>
            <li><a class="topnav-menu-item" href="index.shtml">Главная страница</a></li>
            <li><a class="topnav-menu-item" href="publications.shtml">Статьи</a></li>
            <li><a class="topnav-menu-item" href="create-publication.shtml">Написать статью</a></li>
            <li><a class="topnav-menu-item" href="message.shtml">Сообщить о проблеме</a></li>
            <li><a class="topnav-menu-item" href="contacts.shtml">Контакты</a></li>


        </ul>

    </nav>

</header>