<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Уникальная страница</title>
    <link rel="icon" type="image/png" href="/resources/faviconB.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/header-style.css">
    <link rel="stylesheet" href="../styles/footer-style.css">
    <link rel="stylesheet" href="../styles/home-page-style.css">
    <link rel="stylesheet" href="../styles/card-style.css">
    <link rel="stylesheet" href="../styles/publication.css">
    <link rel="stylesheet" href="../styles/social-links.css">
    <link rel="stylesheet" href="../styles/comments.css">
    <link rel="stylesheet" href="../styles/like.css">

    <script src="../scripts/like.js"></script>

</head>
<body style="height: 100%; display: flex; flex-direction: column">

<main style="flex: 1 0 auto; margin-top: 50px; background-color: #f0f0f0">

    <div id="emEquivalent" style="height:1em;width:0;outline:none;border:none;padding:none;margin:none;box-sizing:content-box;"></div>

    <section class="publication-view">

        <article class="publication">

            <div class="publisher">
                <img color="blue" class="animal-div" width="129" height="129" src="../resources/animal2.png">
                <a class="publisher-author">Эксперт по всем вопросам</a>

                <time class="publisher-time">Вчера в 18:00</time>

            </div>
            <h2 class="normal-text" style="margin-bottom: 5px; margin-top: 0.5em">IOS</h2>
            <div class="tags">
                <a class="tag">История,&#160</a>
                <a class="tag">Операционные системы,&#160</a>
                <a class="tag">IOS</a>

            </div>


            <section style="padding-top: 20px;">
                IOS — операционная система, разработанная компанией Apple для своих портативных устройств. Впервые она появилась на смартфонах iPhone и плеерах iPod в 2007 году, а с 2010 года стала устанавливаться на планшетах iPad.

                <br><br><h5>История появления системы iOS</h5><br>

                Создание этой операционной системы неотделимо от истории разработки главного мобильного устройства фирмы Apple — смартфона iPhone. Однако первый ее прототип появился еще раньше, когда Стив Джобс задумал создать планшетный ПК. Сначала он обратился к инженерам компании с просьбой разработать сенсорный дисплей с функцией мультитача. А когда ему представили первый прототип, попросил специалистов по пользовательским интерфейсам написать для него программную оболочку. Увидев результат, он решил, что это идеально подходит для телефона, и проект планшета был отложен до лучших времен, а все силы были брошены на разработку iPod Touch и будущего iPhone.

                <br><br>Первая версия iOS вышла одновременно с релизом iPhone первого поколения в 2007 году. Однако тогда она называлась еще iPhone OS, а привычное имя получила только три года спустя с выходом iPhone 4. Мобильная операционная система Apple была разработана на основе десктопной macOS (носившей тогда имя OS X), устанавливаемой на фирменных компьютерах и ноутбуках. По сути, она отличалась от своей «родительницы» только урезанным функционалом и переработанным интерфейсом; ядро же у них было практически идентичным.

                <br><br><h5>Особенности iOS и ее отличие от других операционных систем</h5><br>

                Как и другие мобильные операционные системы, платформа iOS — это программное обеспечение, отвечающее за работу основных (системных) функций смартфона или другого портативного устройства, а также за его взаимодействие с пользователем. В архитектуре этой ОС различают несколько слоев абстракции (от низшего к высшему):

                <br><br>Core OS — ядро системы, отвечающее непосредственно за взаимодействие с аппаратными компонентами устройства, а также осуществляющее посредничество между ними и функциями, принадлежащими более высоким слоям абстракции;
                Core Services — набор системных служб, обеспечивающих базовый функционал устройства, например геопозиционирование, хранение данных, сетевые подключения и т.д.
                Media Layer обеспечивает работу устройства с различными видами медиаданных, такими как фото, видео, анимации и аудио;
                Cocoa Touch отвечает за непосредственное взаимодействие пользователя с телефоном и установленными на нем приложениями за счет сенсорного ввода, многозадачности и т.д.

                <br><br>Подобно другим мобильным ОС, система «Айос» позволяет пользователям использовать приложения, созданные сторонними разработчиками и размещенные в фирменном онлайн-магазине Apple App Store. У ближайшего конкурента вроде Android также есть аналогичное хранилище Google Play.

                <br><br>Однако операционка айфона является «полузакрытой» системой. То есть она позволяет пользователю устанавливать приложения от сторонних разработчиков, но имеет сложную систему их сертифицирования. Публикация и установка программ для iOS осуществляются исключительно через онлайн-магазин App Store. Разработка осуществляется в интегрированной среде Xcode, которая также создана корпорацией Apple.
            </section>


            <article style="margin-top: 20px; background: white">
                <a style="color: black">Соцсети автора:</a>


                <div style="margin-top: 5px" class="flex-images">

                    <div class="small-btn">
                        <div class="small-btn-img">
                            <img width="40px" height="40px" src="../resources/facebook.png">
                        </div>
                    </div>

                    <div class="small-btn">
                        <div class="small-btn-img">
                            <img width="40px" height="40px" src="../resources/youtube.png">
                        </div>
                    </div>
                    <div class="small-btn">
                        <div class="small-btn-img">
                            <img width="40px" height="40px" src="../resources/telegram.png">
                        </div>
                    </div>


                    <div class="small-btn">
                        <div class="small-btn-img">
                            <img width="40px" height="40px" src="../resources/icq.png">
                        </div>
                    </div>

                    <div class="small-btn">
                        <div class="small-btn-img">
                            <img width="40px" height="40px" src="../resources/inst.png">
                        </div>
                    </div>

                </div>

            </article>

            <div id="like1" onclick="clickLike1(document.getElementById('like1'))" class="publication-like">
                <div class="like-img"><img width="30px" height="30px" src="../resources/like.svg"></div>
                <h4 class="like-counter">2</h4>
            </div>

        </article>


    </section>

    <section class="comments">
        <a style="font-weight: 500;">Комментарии</a>
        <button class="comment-add">
            <img height="38" width="38" src="../resources/plus.svg"/>
        </button>


        <article style="margin-top: 2em" class="comment">

            <div class="publisher">
                <img color="orange" class="animal-div" width="129" height="129" src="../resources/animal3.png">
                <a class="publisher-author">Author</a>

                <time class="publisher-time">Сегодня в 15:00</time>
            </div>
            <h2 class="comment-text normal-text" style="margin-bottom: 5px">Прикольно</h2>

        </article>

        <article style="margin-top: 2em" class="comment">

            <div class="publisher">
                <img color="blue" class="animal-div" width="129" height="129" src="../resources/animal1.png">
                <a class="publisher-author">Диванный аналитик</a>

                <time class="publisher-time">Сегодня в 18:00</time>
            </div>
            <h2 class="comment-text normal-text" style="margin-bottom: 5px">А как андройд на айфон накатить?</h2>

        </article>

        <article style="margin-top: 2em" class="comment">

            <div class="publisher">
                <img color="red" class="animal-div" width="129" height="129" src="../resources/animal2.png">
                <a class="publisher-author">Эксперт</a>

                <time class="publisher-time">Сегодня в 8:00</time>
            </div>
            <h2 class="comment-text normal-text" style="margin-bottom: 5px">Плохо</h2>

        </article>


    </section>


</main>

<script src="../scripts/add-popular-articles.js"></script>
<script src="../scripts/comments.js"></script>

<script src="../scripts/includeTemplate.js"></script>

</body>
</html>